body {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

.clock {
    position:  absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 1px solid gold;
    z-index: 2;
  }
  
  .clock > * {
    position: absolute;
    bottom: 50%;
    left: 50%;
    height:  50%;
    margin-left: -1px;
    transform-origin: bottom;
  }
  
  .hourhand {
    height: 30%;
  }
  
  .sechand {
    border: 0;
  }

  img{
    display: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    border-radius: 50%;
  }

  .geirIMG2{
    height: 150px;
    width: 20px;
    border-radius: 0%;
  }

  .geirIMG{
    width: 302px;
  }